@import '../../../styles/variables';

.password-field {
  position: relative;
  display: block;

  &__title {
    margin: 0 0 10rem 0;
    padding-left: 10rem;
    font-weight: normal;
    font-size: 16rem;
  }

  &__error-message {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 0 10rem 0;
    color: map-get($colors, error);
    font-size: 9rem;
  }

  &__content {
    position: relative;
  }

  &__input {
    padding: 11rem;
    width: 340rem;
    height: 46rem;
    border: 0.5rem solid map-get($colors, secondary);
    border-radius: 4rem;
    font-size: 16rem;

    &:focus {
      outline: none;
      border: 0.5rem solid map-get($colors, main);
      color: map-get($colors, main);
    }

    &_valid {
      border: 0.5rem solid map-get($colors, valid) !important;
      background-color: map-get($colors, valid-light);
      color: map-get($colors, valid);
    }

    &_invalid {
      border: 0.5rem solid map-get($colors, error) !important;
    }
  }

  &__toggle {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 48rem;
    height: 48rem;
    cursor: pointer;
  }

  &__check {
    display: none;
  }

  &__check-view {
    width: 24rem;
    height: 24rem;
    background: url('images/eye.svg') no-repeat center;
  }

  &__check:checked + &__check-view {
    background: url('images/eye-crossed.svg') no-repeat center;
  }

  &__toggle-hint {
    color: map-get($colors, secondary);
    font-size: 9rem;

    &::before {
      display: inline;
      content: 'Показать';
    }
  }

  &__check:checked ~ &__toggle-hint::before {
    content: 'Скрыть';
  }

  &__requirements {
    display: flex;
    flex-wrap: wrap;
    margin-top: 13rem;
    padding: 0 10rem 0 10rem;
    color: map-get($colors, main);
    font-size: 9rem;
  }

  &__requirement {
    margin-right: 20rem;
  }
}
