@import '../../../styles/variables';

.button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 24rem;
  background-color: map-get($colors, button);
  color: map-get($colors, font-button);
  font-size: 14rem;
  transition: $anim-duration;

  &:hover {
    box-shadow: inset 0 0 0 1000rem map-get($colors, light-shadow);
  }
}
