@import '../../../styles/variables';

.checkbox {
  display: flex;
  cursor: pointer;

  &__check {
    display: none;
  }

  &__check-view {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 12rem;
    border: 0.5rem solid map-get($colors, secondary);
    border-radius: 2rem;
  }

  &__check:checked + &__check-view {
    &::after {
      display: block;
      color: map-get($colors, main);
      content: 'x';
      text-align: center;
      font-weight: bold;
      font-size: 10rem;
    }
  }

  &__description {
    margin: 0 0 0 8rem;
    color: map-get($colors, main);
    text-align: left;
    font-size: 9rem;
  }
}
