.checkbox {
  display: flex;
  cursor: pointer;

  &__check {
    display: none;
  }

  &__check-view {
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    border: 0.5px solid #b3b9d1;
    border-radius: 2px;
  }

  &__check:checked + &__check-view {
    &::after {
      display: block;
      width: 100%;
      height: 100%;
      color: #333;
      content: '✔';
      text-align: center;
      font-size: 9px;
    }
  }

  &__description {
    margin: 0 0 0 8px;
    color: #525f7f;
    text-align: left;
    font-size: 9px;
  }
}
