@import '../../../../../shared/styles/variables';

.sign-up-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30rem;
  border-radius: 8rem;
  box-shadow: 1rem 1rem 3rem 0 map-get($colors, secondary);
  color: map-get($colors, main);

  &__sign-in-link {
    display: flex;
    align-self: flex-end;
    margin: 20rem 25rem 0 0;
    color: map-get($colors, link);
    font-size: 14rem;

    &:link {
      text-decoration: none;
    }
  }

  &__content {
    max-width: 340rem;
  }

  &__title {
    margin: 0;
    text-align: center;
    font-weight: normal;
    font-size: 22rem;
  }

  &__input {
    margin-top: 25rem;
  }

  &__submit-button {
    margin-top: 25rem;
    height: 48rem;
    border-radius: 24rem;
  }

  &__terms-of-use {
    margin-top: 15rem;
    color: map-get($colors, secondary);
    text-align: center;
    font-size: 9rem;
  }

  &__terms-of-use-content {
    margin: 0;
  }

  &__terms-of-use-link {
    color: map-get($colors, link);
    text-decoration: none;

    &:visited {
      color: map-get($colors, link);
    }
  }

  &__subscribe-to-newsletter {
    margin-top: 20rem;
  }
}
