.sign-up-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  //height: 694px;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px #d2d2d2;

  &__content {
    max-width: 340px;
  }

  &__sign-in-link {
    display: flex;
    align-self: flex-end;
    margin: 20px 25px 0 0;
    color: #5867dd;
    font-size: 14px;

    &:link {
      text-decoration: none;
    }
  }

  &__title {
    margin: 0;
    color: #3c485e;
    text-align: center;
    font-weight: normal;
    font-size: 22px;
  }

  &__input {
    margin-top: 25px;
  }

  &__submit-button {
    margin-top: 25px;
    height: 48px;
    border-radius: 24px;
  }

  &__terms-of-use {
    margin-top: 15px;
    color: #b3b9d1;
    text-align: center;
    font-size: 9px;
  }

  &__terms-of-use-link {
    display: block;
  }

  &__subscribe-to-newsletter {
    margin-top: 20px;
  }
}
