@import '../../../../../shared/styles/variables';

.profile {
  display: block;

  &__title {
    text-align: center;
    font-size: 24rem;
  }

  &__content {
    border: 4rem solid map-get($colors, main);
    border-collapse: collapse;
    table-layout: fixed;
  }

  &__content-cell {
    padding: 5rem 10rem;
    border: 2rem solid map-get($colors, main);
    table-layout: fixed;
  }

  &__sign-out-button {
    margin-top: 15rem;
    width: 100%;
    height: 40rem;
  }
}
