$available-breakpoints: (
  xs: 320px,
  sm: 590px,
  md: 960px,
);
$colors: (
  main: #3c485e,
  secondary: #b3b9d1,
  button: #e31e24,
  error: #e31e24,
  valid: #429358,
  valid-light: rgba(123, 231, 134, 0.51),
  link: #5867dd,
  font-button: #fff,
  light-shadow: #0002,
);
$anim-duration: 300ms;
